@model IEnumerable<NeedlesAndScratch.DATA.EF.Record>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RecordCover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Band.BandName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RecordCover)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Band.BandName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
